{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">

                    <h2 class="card-title">Інформація аккаунта</h2>

                    <div class="user-info">
                        <p><strong>Користувацьке імя:</strong> {{ current_user.username }}</p>
                        <p><strong>Електронна пошта</strong> {{ current_user.email }}</p>
                    </div>

                    <hr>

                    <h4 class="card-title">Гімн рідненький</h4>

                    <p>
                        Ще не вмерла Україна, і слава, і воля!
                        Ще нам, браття-молодці, усміхнеться доля!
                        Згинуть наші вороги, як роса на сонці;
                        Запануєм, браття, й ми у своїй сторонці.
                        
                        Приспів:
                        Душу, тіло ми положим за свою свободу
                        І покажем, що ми браття козацького роду.
                        Гей-гей, браття миле, нумо братися за діло!
                        Гей-гей, пора встати, пора волю добувати!
                        
                        Наливайко, Залізняк і Тарас Трясило
                        Кличуть нас із-за могил на святеє діло.
                        Ізгадаймо славну смерть лицарства-козацтва,
                        Щоб не втратить марне нам своєго юнацтва.
                        
                        Приспів.
                        Ой Богдане, Богдане, славний наш гетьмане!
                        Нащо віддав Україну москалям поганим?!
                        Щоб вернути її честь, ляжем головами,
                        Назовемся України вірними синами!
                        
                        Приспів.
                        Наші браття слав’яне вже за зброю взялись;
                        Не діжде ніхто, щоб ми позаду зістались.
                        Поєднаймось разом всі, братчики-слав’яне:
                        Нехай гинуть вороги, хай воля настане!
                        
                        Приспів.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}