{% extends "base.html" %}

{% block content %}
<center><h2>{{ title }}</h2></center>
<div style="display: flex; margin: 20px;">
    <div style="flex: 25%; margin-right: 20px;">
        <table>
            <tr>
                <td>Ім'я: Рибак Артем</td>
            </tr>
            <tr>
                <td>Email: artem.rybak.21@pnu.edu.ua</td>
            </tr>
            <tr>
                <td>GitHub: <a href="https://github.com/Rybak26"> GitHub</a></td>
            </tr>
            <tr>
                <td><div class="main_image"></div></td>
            </tr>
        </table>
    </div>
    <div style="flex: 75%; padding: 20px;"  class="div1">
        <p>
            Викладіть пельмені в воду і відразу перемішайте, щоб вони не злиплися між собою. Доведіть воду до кипіння, поки пельмені не спливуть на поверхню. Коли це станеться, зменшіть вогонь і готуйте страву 5-7 хвилин, іноді помішуючи. По закінченні процесу зніміть їх шумівкою, викладіть в тарілку і подавайте зі сметаною
        </p>
    </div>
</div>
{% endblock %}